<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Балка</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>Балка</h1>
        <img src="{{ url_for('static', filename='balka.jpg') }}" alt="Балка">
        <p>Горячекатаная, сварная. ГОСТ Р 57837-2017. Ст1-3 (пс/сп) 09г2с, С255, С345, С355. Б – Нормальные, Ш – Широкополочные, К – Колонные, С – Свайные,
М – Монорельсовые


</p>
    </div>
</body>
</html>
