<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Труба Электросварная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>Труба Электросварная</h1>
        <img src="{{ url_for('static', filename='elektrosvarnaya.jpg') }}" alt="Труба Электросварная">
        <p>Размеры от 12 до 1420 мм. Стенка: 1,5-25.ГОСТ 10704-91, 10705-80. Марки: ст3, 09г2с, ст20, 17г1с, 17г1с-у
</p>
    </div>
</body>
</html>
