<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Труба Холоднотянутая</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>Труба Холоднотянутая</h1>
        <img src="{{ url_for('static', filename='holodnotyanutaya.jpg') }}" alt="Труба Холоднотянутая">
        <p>Размеры от 2,5 до 133 мм. Стенка: 0,3-12. ГОСТ 8734-75. Марки: 09Г2С, 30ХГСА, ст10, 20, 40Х.
</p>
    </div>
</body>
</html>
