<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Катанка</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1></h1>
        <img src="{{ url_for('static', filename='katanka.jpg') }}" alt="Катанка">
        <p>Размеры от 5 – 12 мм ГОСТ 30136-95 Марки ст3 сп/пс .</p>
    </div>
</body>
</html>