<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Круг</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>Круг</h1>
        <img src="{{ url_for('static', filename='krug.png') }}" alt="Круг">
        <p>Калиброванный. Размеры от 3 до 20 мм и (от 20 до 100 мм под заказ) ГОСТ 7417-75, ГОСТ 14055-77 (серебрянка) Марки ст20, ст35, ст45, 40Х, А12, 30ХГСА и др.<p>

        <h2>Круг</h2>
        <img src="{{ url_for('static', filename='krug1.png') }}" alt="Круг">
        <p> Горячекатанный.
Размеры от 5 до 270 мм
ГОСТ 2590-90
Производится всех марок согласно ГОСТам
ГОСТ 535-2005 (Прокат сортовой и фасонный из углеродистой стали обыкновенного качества)
ГОСТ 1050-2013 ( Прокат из конструкционных нелегированных качественных и специальных сталей)
ГОСТ 4543-2016 (Прокат из конструкционных легированных сталей)
ГОСТ 19281-2014 (Прокат повышенной прочности)
и др.</p>
    </div>
</body>
</html>
