<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лист</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>Лист</h1>
        <img src="{{ url_for('static', filename='list.png') }}" alt="Лист">
        <p>Горячекатаный.
Размеры от 1 до 160 мм
ГОСТ 19903
Марки ст3 пс/сп, ст10,20,25,30,45; 09г2с (категорий 10-13)
10ХСНД, 30ХГСА и др.
</p>
        <h2>Лист</h2>
        <img src="{{ url_for('static', filename='list1.png') }}" alt="Лист">
        <p>Холоднокатаный.
Размеры от 0,3 до 3 мм
ГОСТ 19904
Марки 08 пс/сп, 08Ю, ст10, 20, 09г2с и др.

Так же поставляется Оцинкованный (ОЦ)
и крашенный лист все цветов палитры RAL</p>
    </div>
</body>
</html>
