<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Труба магистральная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>Труба магистральная</h1>
        <img src="{{ url_for('static', filename='magistralnaya.jpg') }}" alt="Труба магистральная">
        <p>Размеры от 159 до 1420 мм. Стенка: 3-34. ГОСТ 20295-85
</p>
    </div>
</body>
</html>
