<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Швеллер</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>Швеллер</h1>
        <img src="{{ url_for('static', filename='shveller.jpg') }}" alt="Швеллер">
        <p>Горячекатаный, гнутый. ГОСТ 8240-97, ГОСТ 8278-83. Ст1-3 (пс/сп) 09г2с, С255, С345, С355. П – с параллельными гранями полок, У – усиленный.


</p>
    </div>
</body>
</html>
