<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности - AlmAzTech</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="terms-page">
        <h1>Условия использования сайта</h1>

            <p>Настоящие Условия использования (далее - "Условия") регулируют использование веб-сайта  (далее - "Сайт"). Пользуясь данным Сайтом, вы соглашаетесь с этими Условиями.</p>

            <h2>1. Общие положения</h2>
            <p>1.1. Сайт предоставляет доступ к различным материалам и услугам для пользователей. Пользователь обязуется соблюдать все условия, установленные на этом Сайте.</p>

            <p>1.2. Администрация сайта вправе в любой момент изменять условия использования Сайта, и такие изменения вступают в силу с момента их публикации на странице Сайта.</p>

            <h2>2. Описание услуг</h2>
            <p>2.1. Сайт предоставляет доступ к информации о продукции, а также возможность взаимодействовать с платформой для покупки или запроса информации.</p>

            <h2>3. Права и обязанности пользователя</h2>
            <p>3.1. Пользователь обязуется не использовать Сайт для незаконных целей и не нарушать права третьих лиц.</p>
            <p>3.2. Пользователь обязуется соблюдать авторские права на материалы, размещенные на Сайте.</p>

            <h2>4. Ограничение ответственности</h2>
            <p>4.1. Администрация Сайта не несет ответственности за возможный ущерб, связанный с использованием материалов Сайта.</p>
            <p>4.2. Администрация Сайта не гарантирует точность и полноту предоставленной информации.</p>

            <h2>5. Политика конфиденциальности</h2>
            <p>5.1. Все персональные данные, передаваемые пользователями через Сайт, обрабатываются в соответствии с Политикой конфиденциальности.</p>

            <h2>6. Заключительные положения</h2>
            <p>6.1. Настоящие Условия являются юридически обязательными для всех пользователей Сайта.</p>
            <p>6.2. В случае возникновения споров все они подлежат рассмотрению в соответствии с законодательством.</p>

            <div class="back-to-home">
                <a href="/" class="back-to-home-link">Вернуться на главную</a>
    </div>
</body>
</html>
