<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уголок</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>Уголок</h1>
        <img src="{{ url_for('static', filename='ugolok.jpg') }}" alt="Уголок">
        <p>Горячекатаный, гнутый, равнополочный, неравнополочный. ГОСТ 8509-93, ГОСТ 19771-93, ГОСТ 8510-86, ГОСТ 19772-93.
            Ст1-3 (пс/сп) 09г2с, С255, С345, С355. Полка: 25 – 200 мм, Стенка: 3-16 мм.
</p>
    </div>
</body>
</html>
