<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ВГП</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="product-page">
        <h1>ВГП</h1>
        <img src="{{ url_for('static', filename='vgp.jpeg') }}" alt="ВГП">
        <p>Размеры от 15 до 100 мм. Стенка: от 2,5-4,5. ГОСТ 3262-75. Марки: 1-3пс</p>
    </div>
</body>
</html>
